---
import Base from "../layouts/Base.astro";
import Post from "../components/Post.astro";
const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true }),
);
const pageTitle = "Blog";
---

<Base pageTitle={pageTitle}>
  <p>
    This is where the tutorial wants me to post about my journey learning Astro
    but I'm writing that inside the README. md instead.
  </p>
  <p>
    Now that I've gotten a bit further into the tutorial... I might move the
    learning log here actually (&gt;.&lt;) .
  </p>
  <ul>
    {
      allPosts.map((post: any) => (
        <Post url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</Base>
